<div class="node" [class.top-border]="!isFirstNode && node.paths !== null" [style.backgroundImage]="'url(' + node.backgroundImgSrc + ')'">
  <div *ngIf="isLastNode" class="question-container">
    <p class="node-content" [innerHTML]="displayedContent | safeHtml"></p>
<!--    <button class="back" (click)="emitBackClicked()">Terug</button>-->

  </div>
  <div class="choices">

      <div class="button-container">
        <button
          *ngFor="let path of node.paths; let first = first"
          [class.ml-16]="!first"
          [class.primary-button]="first"
          [class.secondary-button]="!first"
          (click)="emitAnswerClicked(path)"
        >
          {{ path.label }}
        </button>
      </div>

  </div>

</div>
