.node {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: contain;
  background-position: center;
}

.question-container {
  text-align: center;
  color: white;
  font-family: MonkeyIsland, "Courier New", monospace;
  font-size: 4rem;
}

.image-options img {
  width: 100px; /* Pas aan naar gewenste grootte */
  height: auto;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.image-options img:hover {
  transform: scale(1.1);
}
